<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/header'); -%>
</head>

<body>
    <%- include('../partials/nav'); -%>
    <div class="jumbotron text-center">
        <div class="container">
            <a href="/" class="lang-logo">
                <img src="/lang-logo.png">
            </a>
            <h1>Getting Started on Exorun with Node.js</h1>
            <p>This is a sample Node application deployed to Exorun. It's a reasonably simple app - but a good
                foundation for understanding how to get the most out of the Exorun platform.</p>
            <a type="button" class="btn btn-lg btn-default" href="https://docs.exorun.io/getting-started/nodejs"><span
                    class="glyphicon glyphicon-flash"></span> Getting Started on Exorun with Node.js</a>
            <a type="button" class="btn btn-lg btn-primary"
                href="https://github.com/exorunltd/node-js-getting-started"><span
                    class="glyphicon glyphicon-download"></span> Source on GitHub</a>
        </div>
    </div>
    <div class="container">
        <div class="alert alert-inTo text-center" role="alert">
            To deploy your own copy, and learn the fundamentals of the Exorun platform, head over to the <a
                href="https://docs.exorun.io/getting-started/nodejs" class="alert-link">Getting
                Started on Exorun with Node.js</a> tutorial.
        </div>

    </div>
</body>

</html>